# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest
.pytest_cache/

# VS Code
.vscode/

# Output files
samples/*.json
samples/*.csv
*.csv
*.json
!samples/sample_windows.csv
log_parser_toolkit.egg-info/
